<%#aqui pongo el select para el flitro%>
<%= form_with url: articles_path, method: :get, local: true do |form| %>

<div>
<%= form.label :status, "Estado", class: "form-label fw-bold" %>
<%= form.select :status, ['público', 'privado', 'archivado', 'mostrar todo'], 
{ selected: params[:status] }, { class: "form-select" } %>  
<%= form.submit "Filtrar" %>
</div>
<% end %>

<%#he cambiado el { selected: 'público' } para que no aparazca como prederterminado y cuando el usuario cambie el%>
<%#parametro si recarga la pagina se guarde la opcion que ha selccionado%>