<%#aqui pongo el select para el flitro%>
<%= form_with url: articles_path, method: :get, local: true, class: "row g-2 align-items-end" do |form| %>

<div class="col-auto">
<%= form.label :status, "Estado", class: "form-label fw-bold" %>
<%= form.select :status, Visible::VALID_STATUSES + ['mostrar todo'], 
{ selected: params[:status] }, { class: "form-select" } %>  
</div>
  <div class="col-auto">
    <%= form.submit "Filtrar", class: "btn btn-primary" %>
  </div>
<% end %>

<%#he cambiado el { selected: 'público' } para que no aparazca como prederterminado y cuando el usuario cambie el%>
<%#parametro si recarga la pagina se guarde la opcion que ha selccionado%>
<%# Visible::VALID_STATUSES  se trae los estados del concers visible%>