<ul class="list-group">
  <% @articles.each do |article| %>
    <li class="list-group-item d-flex align-items-center">
     <%= icon_for_status(article.status) %>
      <%= link_to article.title, article, class: "text-decoration-none" %>
    </li>
  <% end %>
</ul>
